{% extends 'catalog/base_generic.html' %}





{% block title %}{% endblock title %}

{% block content %}
{% if book.picture %}
<img src="{{ book.picture.url }}" width="200" alt="picture">
{% endif %}

<p>Автор: <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
<p>Аннотация: {{ book.summary }}</p>
<p>ISBN: {{ book.isbn }}</p>
<p>Язык: {{ book.language }}</p>
<p>Жанр: {% for genre in book.genre.all %} {{ genre }}
    {% if not forloop.last %}, {% endif %}{% endfor %}</p>

<!--<a href="{2% url 'special' %2}?id={{ book.id }}">special</a>-->
<a href="{{ book.get_summary_url }}">Читать книгу</a>

{% endblock content %}
