{% extends 'catalog/base_generic.html' %}

{% block title %}hello{% endblock title %}

{% block content %}


<div class="text-container">
        {% if extention == 'docx' %}
                {% for para in docfile.paragraphs %}
                        <p class="text-paragraph text-element">{{ para.text }}</p>
                {% endfor %}
        {% elif extention == 'pdf' %}
                {% for page in docfile %}
                        <p class="text-paragraph text-element">{{ page.get_text }}</p>
                {% endfor %}
        {% endif %}
</div>



{% endblock content %}
