<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lobby/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="body-space">

<div class="header container">

        <ul class="navigation">
            <li><a href="{% url 'home' %}">Главная страница</a></li>
            <li><a href="{% url 'about' %}">О проекте</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="autorisation">
            {% if user.is_authenticated %}
                <li>Вы вошли как: {{ user.get_username }}</li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Авторизоваться</a></li>
            {% endif %}
            {% block login %}{% endblock login %}
        </ul>

</div>

<div class="middle container">
    {% block sidebar %}
        <ul class="apps-menu sidebar">
            <li><a href="{% url 'library' %}">Персональная библиотека</a></li>
            <li><a href="{% url 'checkers' %}">Игра "Шашки"</a></li>
            <li><a href="{% url 'seabattle' %}">Игра "Морской бой"</a></li>
            <li><a href="{% url 'tic_tac_toe' %}">Игра "Крестики нолики"</a></li>
            <li><a href="{% url 'guitar_chords' %}">Аккорды для гитары</a></li>
            <li><a href="{% url 'exchange_rates' %}">Курсы валют</a></li>
            <li><a href="{% url 'file_converter' %}">Конвертер файлов</a></li>
            <li><a href="{% url 'text_voice' %}">Конвертер текста в аудио</a></li>
            <li><a href="{% url 'voice_text' %}">Конвертер голоса в текст</a></li>
            <li><a href="{% url 'voice_recorder' %}">Запись голоса</a></li>
            <li><a href="{% url 'tutorial_english' %}">Самоучитель английского языка</a></li>
        </ul>
    {% endblock sidebar %}
    {% block content %}{% endblock content %}
</div>    
<div class="footer container">
    Made by Eugene Lavrenko, 2022
</div>
</body>
</html>