<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lobby/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="body-space">

<div class="header container">

        <ul class="navigation">
            <li><a href="{% url 'home' %}">Главная страница</a></li>
            <li><a href="{% url 'about' %}">О проекте</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="apps-menu">

            <li><a href="{% url 'library' %}"><img class="menu-icon" width="50"
                                                   src="../../static/lobby/images/books.svg" alt=""></a></li>
            <li><a href="{% url 'checkers' %}"><img class="menu-icon" width="50"
                                                    src="../../static/lobby/images/games.svg" alt=""></a></li>
            <li><a href="{% url 'guitar_chords' %}"><img class="menu-icon" width="50"
                                                         src="../../static/lobby/images/guitar.svg" alt=""></a></li>
            <li><a href="{% url 'exchange_rates' %}"><img class="menu-icon" width="50"
                                                          src="../../static/lobby/images/rates.svg" alt=""></a></li>
            <li><a href="{% url 'file_converter' %}"><img class="menu-icon" width="50"
                                                          src="../../static/lobby/images/files.svg" alt=""></a></li>
            <li><a href="{% url 'tutorial_english' %}"><img class="menu-icon" width="50"
                                                            src="../../static/lobby/images/language.svg" alt=""></a></li>

        </ul>
    <div class="auto-m">
        <ul class="autorisation">
            {% if user.is_authenticated %}
                <li>Вы вошли как: {{ user.get_username }}</li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Авторизоваться</a></li>
            {% endif %}
        </ul>
        {% block login %}{% endblock login %}
    </div>
</div>

<div class="middle container">
    {% block sidebar %}

    {% endblock sidebar %}
    <h1>Творческий учебный проект на фреймфорке Django 4.0.5</h1>
    <p>Для пользования контентом можно использовать эти учетные данные:</p>
    <p>Логин: guest</p>
    <p>Пароль: iamabanana!</p>
    {% block content %}

    {% endblock content %}
</div>    
<div class="footer container">
    Made by Eugene Lavrenko, 2022
</div>
</body>
</html>