{% extends 'lobby/base.html' %}


{% block login %}
    {% if form.errors %}
        <p>username and password didn't match</p>
    {% endif %}

    {% if next %}
        {% if user.is.authenticated %}
            <p>your account doesn't have access to this page</p>
        {% else %}
            <p>please login to see this page</p>
        {% endif %}
    {% endif %}


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}


    <p>{{ form.username.label_tag }} <span class="form-element username">{{ form.username }}</span></p>
        <p>{{ form.password.label_tag }} <span class="form-element password">{{ form.password }}</span></p>


    <input type="submit" value="login">
    <input type="hidden" name="text" value="{{ next }}">

</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock login %}
{% block content %}
{% endblock content %}