{% extends 'lobby/base.html' %}


{% block login %}
    {% if form.errors %}
        <p class="login-info">Неверные имя пользователя или пароль</p>
    {% endif %}

    {% if next %}
        {% if user.is.authenticated %}
            <p class="login-info">Ваша учетная запись не имеет доступа к этой странице!</p>
        {% else %}
            <p class="login-info">Необходима авторизация!</p>
        {% endif %}
    {% endif %}


<form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}


    <p>{{ form.username.label_tag }} <span class="form-element username">{{ form.username }}</span></p>
        <p>{{ form.password.label_tag }} <span class="form-element password">{{ form.password }}</span></p>


    <input type="submit" value="login">
    <input type="hidden" name="text" value="{{ next }}">
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
</form>


{% endblock login %}
{% block content %}
{% endblock content %}