{% extends 'lobby/base.html' %}

{% block content %}

  {% if validlink %}
  <p>please enter and confirm your new password</p>
  <form action="" method="post">

    {% csrf_token %}
    <ul>
      <li>{{ form.new_password1.errors }}<label for="id_new_password1"></label></li>
      <li>{{ form.new_password1 }}</li>
      <li>{{ form.new_password2.errors }}<label for="id_new_password2"></label></li>
      <li>{{ form.new_password2 }}</li>
      <li><input type="submit" value="change my password"></li>
    </ul>

  </form>
{% else %}
<h1>password reset failed</h1>
<p>the password reset link was invalid</p>
{% endif %}

{% endblock content %}